/* cursor: url('___'); custom cursor?*/
body {
  background: url(img/basketballCourt.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Big Shoulders Stencil Text', cursive;
  padding: 0px;
  margin: 0px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .name {
  background-color:transparent;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 25px;
  letter-spacing: 10px;
  color: red;
  font-weight: bold;
}
.caption span.border {
  color: red;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-width: 0px;
}
.desc {
  margin-top: 100px;
  margin-bottom: 100px;
  color:white;
  position:relative;
  background-color:#302F3A;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-fluid {
  padding: 0px;
  margin:0px;
}

.navbar {
  width: 100%;
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}
.nav-link {
  list-style: none;
  color: white;
  padding: 0px;
}
.nav-link:hover {
  color: red;
}

.navbar .nav-container li {
  list-style: none;
  list-style-type: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: red;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  background-repeat:no-repeat;
  width: 100px;
  height: 250px;
  z-index: -100;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: red;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 5000px rgba(0, 0, 0, .9);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  font-size: 1.5rem;
  font-weight: 500;
}
/* hamburger menu */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
footer p, li, td{
  text-align: center;
  font-size: 15px;
}
.copyright {
    font-size: 24px;
    text-align: center;
}

a {
  color: red;
  text-decoration: none;
}
footer {
  background-color: black;
  font-size: 60px;
  widows: 100%;
  text-align: center;
  color: red;
  padding: 0px;
  margin: 0px;
}

a:hover {
  color: red;
  background-color: black;
}
button {
  background-color: red;
  color: black;
  font-size: 30px;
  border-radius: 2px;
}
.btn-size {
  height: 65px;
  width: 65px;
}

button.subscribe:hover {
  background-color: white;
  color: red;
}
button.subscribe{
  background-color: red;
  color: white;
}
button:hover{
  background-color: red;
}
.heading {
  font-size: 60px;
  width: 100%;
  text-align: center;
}
div .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  color: white;
  margin: 0px;
}
h5 {
  margin:0px;
}
button.btn.btn-warning.float-end.mt-2 {
background-color: red;
{
