body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color: #ee9c5b;
  text-align: center;
  cursor: pointer;
}
a {
  color: #0D0D0D;
  font-weight: normal;
  font-variant: small-caps;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
.whiteDesc {
  color: black;
  background-color: #eeebc9;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
.desc {
  color: white;
  position: relative;
  background-color: #302f3a;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
.logo {
  width: 250px;
  height: 200px;
  border-width: thick;
  border-color: black;
  margin-top: 1px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("outsideBuilding.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("wood.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("map.png");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("wood.jpg");
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bgimg-5 {
  background-image: url("wood.jpg");
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.heading {
  text-align: center;
  margin: auto;
width: 50%;
padding: 10%;
}
p {
  text-align: center;
}

.caption .name {
  background-color: transparent;
  font-size: 25px;
  letter-spacing: 10px;
  color: #f2884b;
  font-weight: bold;
}

.caption span.border {
  background-color: #f27b48;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.name {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align: center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bg-img-4,
  .bg-img-5 {
    background-attachment: scroll;
  }
}
