body, html {
  height: 100%;
  margin: 0;
  font-family: 'Big Shoulders Stencil Text', cursive;
   cursor: url("img/cursor.png");
}

.navbar {
  width: 100%;
  background-color: black;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: red;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  background-repeat:no-repeat;
  width: 100px;
  height: 250px;
  z-index: -100;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: red;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
    font-family: 'Big Shoulders Stencil Text', cursive;
  box-shadow: inset 0 0 5000px rgba(0, 0, 0, .9);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  font-size: 1.5rem;
  font-weight: 500;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
/* hamburger menu */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
footer p, li, td{
  text-align: center;
  font-size: 15px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
button {
  font-family: 'Big Shoulders Stencil Text', cursive;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
a {
  color: #fff;
  font-style: normal;
  text-decoration:none;
}
h4{
  font-weight: normal;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
.desc {
  color:white;
  position:relative;
  background-color:#302F3A;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/basketballCourt.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img/basketballCourt.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img/basketballCourt.jpg");
  min-height: 400px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .name {
  background-color:transparent;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 25px;
  letter-spacing: 10px;
  color: red;
  font-weight: bold;
}

.caption span.border {
  color: red;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-width: 0px;
}
.name {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}

h3 {
    font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
  text-align:center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bg-img-4, .bg-img-5{
    background-attachment: scroll;
  }
}
footer p, li, td{
  text-align: center;
  font-size: 15px;
}
.copyright {
    font-size: 24px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

a {
  color: red;
  text-decoration: none;
}
footer {
  background-color: black;
  font-size: 60px;
  widows: 100%;
  text-align: center;
  color: red;
  padding: 0px;
  margin: 0px;
}
a:hover {
  color: red;
  background-color: black;
}
button {
  background-color: red;
  color: black;
  font-size: 30px;
  border-radius: 2px;
}
.btn-size {
  height: 65px;
  width: 65px;
}
a.btn.sponsor {
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 5px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
a.btn.sponsor:hover {
  background-color: white;
  color: red;
}
button.subscribe:hover {
  background-color: white;
  color: red;
}
button.subscribe{
  background-color: red;
  color: white;
  height: 35px;
  width: 100px;
  font-family: 'Big Shoulders Stencil Text', cursive;
}
button:hover{
  background-color: red;
}
.heading {
  font-size: 60px;
  width: 100%;
  text-align: center;
}
div .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  color: white;
  margin: 0px;
}
h5 {
  margin:0px;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.border {
  font-family: 'Big Shoulders Stencil Text', cursive;
}
h1{
  font-family: 'Big Shoulders Stencil Text', cursive;
}
h2{
  font-family: 'Big Shoulders Stencil Text', cursive;
}
i.fa.btn.btn-floating.btn-light.btn-size {
  font-size: 65px;
}
a.fa-li{
  color: red;
}
